<div class="container">
    <footer class="text-center mt-5">
        <div class="text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2); border-radius:50px">
            © 2023 Copyright:
            <a class="text-dark" href="https://www.youtube.com/channel/UCEcPHSyxBAR0kJ4gGZLnb-Q">Desarrollado por Miguel Cid.</a>
        </div>
    </footer>
</div>


<style>
    .footerPage {
        background-color: orange;
    }
</style>