<nav class="navbar navbar-expand-lg bg-light text-white ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#"><!-- Navbar -->
      <img src="./public/img/favicon-32x32.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
  Prueba Cert.
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="comprar.html">Estado</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="nosotros.html">Categoria 1</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/productos/">Categoria 2</a>
            </li>      
      </ul>
    </div>
  </div>
</nav>


<style>

    .nav-item{
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        border-radius: 15px;
        margin: 5px;
    }
</style>